* {
  font-family: 'Anonymous', monospace;
  text-shadow: -1px 0 black,
               0 1px black,
               1px 0 black,
               0 -1px black;
  color: green;
}

body {
  background-color: #212121;
  padding: 0 8px 0 8px;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 35pt;
  transition: all 0.5s;
}

.nome:hover {
  text-shadow: -1px 0 green,
               0 1px green,
               1px 0 green,
               0 -1px green;
  color: white;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

main p {
  font-size: 18pt;
}

footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}